# dependencies
node_modules/

# next.js
.next/
out/
build/
dist/

# production data / local db
data/

# env files
.env
.env*.local
*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
npm-debug.log*
